*{
    padding:0;
    margin:0;
}
body{
    position: relative;
}

.nav-link{
    margin-right:100px;
}
.fakeimg img{
    height:300px;
    opacity: 80%;
}
#section1{
    height:780px;
    background-image: url('http://www.southsoundtalk.com/wp-content/uploads/2019/04/Drone-Bridge-of-Glass-Edited.jpg');
    opacity: 80%;
    text-align: center;

}
#section1 h1, h2{
    color:white;
}
#section1 hr{
    border-top:solid white 1px;
    width: 18%;
    margin: 10px 0 -15px 580px;

}
#section1 h1{
    font-size: 100px;
    font-family: 'Merriweather Sans', sans-serif;
}
#section1 h2{
    margin-top: 35px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;

}
#section1 svg{
    margin-top:130px;
}
.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

#section2 h1{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#section2 hr{
    border-top:solid red 1px;
    width: 10%;
    margin: 10px 0 -8px 636px;
}
.archify{
    text-align: center;
    display: inline-block;
    margin-left: 8px;
}
.archify img{
    height: 240px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}
.archify button {
    margin-top: 20px;
    box-shadow: 3px 3px 3px black;
}
.study{
    text-align: center;
    display: inline-block;
    height: 240px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
}
.study img{
    height: 240px;
    border:solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}
.study button {
    margin-top: 20px;
    box-shadow: 3px 3px 3px black;
}
.trail{
    text-align: center;
    display: inline-block;
}
.trail img{
    height: 240px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}
.trail button {
    margin-top: 20px;
    box-shadow: 3px 3px 3px black;
}
#section4{
    text-align: center;
    background-color: antiquewhite;
    
}
#section3 img{
    height: 200px;
}
#section4 h1{
    margin-bottom: -10px;
}
#section4 hr{
    border-top:solid red 1px;
    margin-bottom: -13px;
    margin-left: 640px;
    width: 8%;
}
#section4 ul,li{
    text-align: center;
    margin: 30px -55px 10px 0px;
    display: inline-block;
}

#section4 a{
    color:black;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }