@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --gray-text: rgb(99, 108, 116);
    --dark-gray: rgb(57, 60, 65);
    --mid-gray: rgb(92, 98, 105);
}

/* NAVBAR SECTION */

#mobile-nav {
    display: none;
}

.nave-bar{
    position: absolute;
    z-index: 2;
    width: 100%;
}

html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height:10vh;
    background-color: rgba(100, 100, 100, 0.2);
}
li a {
    display: block;
    color: var(--mid-gray);
    text-decoration: none;
    font-size: 1.5rem;
}
#name {
    color: var(--blue-text);
    font-size: 30px;
    font-weight: bold;
}

/* HERO SECTION */

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    background-image: url('/images/tacomaPic.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    margin-top: 0vh;
    animation: scale 15s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.overlay {
    position:absolute;
    height:100%;
    width:100%;
    top: 0;
    left:0;
    background:rgba(0, 0, 0, 0.1);
    z-index:1;
    
}
.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left:10%;
    font-size: 25px;
    color: whitesmoke;
    text-transform: uppercase;
    z-index: 2;
}
.firstWord{
    color:wheat;
}

.resume-cta {
    border: 2px solid wheat;
    border-radius: 5px;
    width: 175px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.resume-text {
    color: whitesmoke;
}

.resume-cta:hover {
    background-color: rgb(100, 100, 100, 0.4)
} 

/* PROJECTS SECTION */

.project-container {
    width: 100%;
    height: auto;
}

.project-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}

/* hr {
    width: 17%;
    margin-left: 595px;
    margin-top: -5px;
} */

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.archify {
    width: 350px;
    height: 350px;
    background: white;
    position: relative;
    box-shadow: -15px 7px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('/images/arch2.jpeg');
    background-size: cover;
    background-position: center;
}

.studyBuddy {
    width: 350px;
    height: 350px;
    background: white;
    position: relative;
    box-shadow: -15px 7px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('/images/studyPic.jpeg');
    background-size: cover;
    background-position: center;
}

.trailBuddy {
    width: 350px;
    height: 350px;
    background: white;
    position: relative;
    box-shadow: -15px 7px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('/images/hikingPic.jpeg');
    background-size: cover;
    background-position: center;
}

.text-container {
    position: absolute;
    height: 75px;
    width:100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
}

.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    margin-left: 5px;
    color: var(--dark-gray);
    font-size: 2rem;
}

.content {
    padding: 25px 5px;
    color: var(--mid-gray);
}

.button {
    border: 3px solid var(--gray-text);
    border-radius: 5px;
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 50px;
}

h3 {
    color: var(--dark-gray);
}

/* ABOUT SECTION */

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: rgb(243, 241, 241);
    box-shadow: -15px 7px 30px rgba(0,0,0,0.2);
    }

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.about-image {
    height: 450px;
    width: 400px;
    background-image: url('/images/heroPic1.JPG');
    background-size: cover;
    background-position: center;
}

.about-title{
    width: 80%;
    font-size: 2rem;
}
hr{
    width: 71%;
    margin:10px 0;
}
.about-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
}

/* CONTACT SECTION */

.contact-header {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom:-150px;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    width: 30%;
    margin: 25% 35%;
    padding-top: 30px;
}

i {
    color: var(--dark-gray);
}

.footer {
    display: inline;
    align-items: center;
}
/* MOBILE VIEW */

@media (max-width: 768px) {
    #nav {
        display: none;
    }

    #mobile-nav{
        display: block;
    }

    .mobile-nav-bar {
        width:100%;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    ul {
        background-color: rgb(243, 243, 243);
    }

    .archify {
        width: 250px;
        height: 350px;
        background: white;
        position: relative;
        box-shadow: -15px 7px 10px rgb(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('/images/arch2.jpeg');
        background-size: cover;
        background-position: center;
    }

    .studyBuddy {
        width: 250px;
        height: 350px;
        background: white;
        position: relative;
        box-shadow: -15px 7px 10px rgb(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('/images/studyPic.jpeg');
        background-size: cover;
        background-position: center;
    }
    
    .trailBuddy {
        width: 250px;
        height: 350px;
        background: white;
        position: relative;
        box-shadow: -15px 7px 10px rgba(61, 58, 58, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('/images/hikingPic.jpeg');
        background-size: cover;
        background-position: center;
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        box-shadow: 15px 7px 30px 7px rgba(0,0,0,0.2);
    }
    
    .about-image {
        margin-top: 20px;
        height: 300px;
        width:225px;
        background-image: url('/images/heroPic1.JPG');
        background-size: cover;
        background-position: center;
    }

    .about-text {
        margin-left: 20px;
        width: 100%;
        font-size: .75rem;
    }

    .social-icons i{
        font-size: 2rem;
        padding: 10px;
        margin-left: -10px;
    }

}