<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://kit.fontawesome.com/cd0a882eb4.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <section id="nav">
        <div class="nav-bar">
            <div class="links">
                <ul>
                    <li><a href="#name" id="name">Rickie Dixon</a></li>
                    <li><a href="#projects" id="projects">Projects</a></li>
                    <li><a href="#about" id="about">About</a></li>
                    <li><a href="#contact" id="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End of Navbar-->

    <!--Hero Section-->
    <section id="hero">
        <div class="container">
            <div class="overlay"></div>
            <div class="image-container"></div>
        </div>
        <div class="hero-text">
            <h1>
                <span class="firstWord">Solving</span><br/>Problems & Creating
                <br/>Solutions
            </h1>
            <a href="#" class="resume-cta"><span class="resume-text">Resume</span></a>
        </div>
    </section>
    <!-- PROJECTS SECTION -->
    <section id="projects">
        <div class="project-container">
            <div class="project-header">Projects</div>
            <div class="projects">
                <div class="project-item">
                    <div class="archify">
                        <div class="text-container">
                            <h2 class="name">Archify App.</h2>
                            <div class="content">
                                <p>
                                    Some words about the app. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    odio, beatae accusamus ex, tempore autem ab voluptatibus voluptates vero.
                                </p>
                            </div>
                            <button class="button">
                                <a href="https://github.com/RDixonCodes/Archify">
                                    <h3>View Project</h3>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="project-item">
                    <div class="studyBuddy">
                        <div class="text-container">
                            <h2 class="name">Study Buddy App.</h2>
                            <div class="content">
                                <p>
                                    Some words about the app. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    odio, beatae accusamus ex, tempore autem ab voluptatibus voluptates vero.
                                </p>
                            </div>
                            <button class="button">
                                <a href="https://github.com/sevrinn/studyBuddy">
                                    <h3>View Project</h3>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="project-item">
                    <div class="trailBuddy">
                        <div class="text-container">
                            <h2 class="name">Trail Buddy App.</h2>
                            <div class="content">
                                <p>
                                    Some words about the app. Lorem ipsum dolor sit amet consectetur adipisicing elit.  
                                    odio, beatae accusamus ex, tempore autem ab voluptatibus voluptates vero.
                                </p>
                            </div>
                            <button class="button">
                                <a href="https://github.com/RDixonCodes/trailBuddy">
                                    <h3>View Project</h3>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PROJECTS SECTION -->
</body>
</html>